html {
    background-color: #1c2a44;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    box-shadow: 0 0 5px #aac5c6;
    border: 0.2vw solid rgba(2, 228, 231, 0.8);
    background-color: #344056;
    transition: 0.2s all linear;
    margin-right: 10px;
    position: relative;
    top: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

input:checked {
    border: 0.7vw solid #344056;
    background-color: rgba(2, 228, 231, 0.8);
}